@model AISAutoForms.ViewModels.ChangeCourseVM

<h1>Change Course Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Student ID</td>
            <td>@Model.StudentId</td>
        </tr>
        <tr>
            <td>Student Name</td>
            <td>@Model.StudentName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.StudentEmail</td>
        </tr>
        <tr>
            <td>Phone No</td>
            <td>@Model.StudentPhone</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.StudentAddress</td>
        </tr>
        <tr>
            <td>Programme of Study</td>
            <td>@Model.ProgrammeOfStudy</td>
        </tr>
        <tr>
            <td>Request Type</td>
            <td>@Model.ChgCourseType</td>
        </tr>
        <tr>
            <td>Signature</td>
            <td>@Model.Signature</td>
        </tr>
        <tr>
            <td>Date Requested</td>
            <td>@Model.SubmitDate</td>
        </tr>
        <tr>
            <td>Course Code</td>
            <td>@Model.CourseCode</td>
        </tr>
        <tr>
            <td>Course Name</td>
            <td>@Model.CourseName</td>
        </tr>
        <tr>
            <td>Withdraw Course Code</td>
            <td>@Model.WitdCourseCode</td>
        </tr>
        <tr>
            <td>Withdraw Course Name</td>
            <td>@Model.WitdCourseName</td>
        </tr>
        <tr>
            <td>Add Course Code</td>
            <td>@Model.AddCourseCode</td>
        </tr>
        <tr>
            <td>Add Course Name</td>
            <td>@Model.AddCourseName</td>
        </tr>
    </tbody>
</table>
