@model AISAutoForms.Models.ApproverMaint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApproverMaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproverRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproverRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproverDept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproverDept)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApproverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
